<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>969316311922-uhcv6a561u6q3t1ji5nn7441f6kaq3li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969316311922-uhcv6a561u6q3t1ji5nn7441f6kaq3li</string>
	<key>API_KEY</key>
	<string>AIzaSyAhnbyDfRPwtaS5dfe1T_4J8WB_glN6qgM</string>
	<key>GCM_SENDER_ID</key>
	<string>969316311922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kiori.Monster</string>
	<key>PROJECT_ID</key>
	<string>moster-e8904</string>
	<key>STORAGE_BUCKET</key>
	<string>moster-e8904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:969316311922:ios:ef9bcba13b61280e</string>
	<key>DATABASE_URL</key>
	<string>https://moster-e8904.firebaseio.com</string>
</dict>
</plist>